html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(251, 143, 204);
}

canvas {
    display: block;
}


.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.buttons div,
.buttons2 div {
    text-align: center;
    border: 1px solid rgb(205, 153, 162);
    background-color: #7A306C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bold;
}

.radbtn {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;    
}

.blockbtn {
    padding: 2rem 0;
    border-radius: 5%;
}


@media only screen and (min-width: 1000px) {

    .buttons,
    .buttons2 {
        display: none;
    }

}